{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Solicitud de participación" %}{% endblock %}

{% block body %}
<div class="container">
<div class="row">
<h1 class="text-center">Inscripción lista de espera del Congreso <i class="fa fa-pencil" aria-hidden="true"></i>
</h1>
<p class="col-md-6 col-md-offset-3">Introduce tu email para iniciar la inscripción en la lista de espera del Congreso.</p>
<br>
</div>
<div class="row ">
<div class="col-md-offset-2">

    {% crispy form %}
  
</div>
</div>
</div>
{% endblock %}

{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}