{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Gracias por el interés{% endblock %}

{% block body %}
<div class="container-fluid" style="min-height:480px;">
<div class="row col-md-6 col-md-offset-3">
<h1 class="text-center">Inscripción Congreso</h1>
<p>Muchas gracias por tu interés. Te hemos enviado un correo a la dirección que has indicado. En ese correo tienes el enlace para completar la inscripción en el congreso.
</p>
<i class="fa fa-address-card-o  fa-5x" aria-hidden="true"></i>
</div>

</div>
{% endblock %}
