//colors
$color1: rgb(176, 11, 92);
$amarillo: #d7db4c;
$color_celeste_approx: $color1;
$white: #ffffff;
$black_40: rgba(0, 0, 0, 0.4);
$gris: #f1f1f1;
$black: #000000;
$black_20: rgba(0,0,0,0.2);
$color_desert_storm_approx: #f8f8f8;
$color2: $color1;
$color4: $amarillo;
$color5: rgb(192, 198, 52);
$link_menu: #000;
$menu_active: $color1;

$fondosaludo: $gris;


//fonts
$font_0: Roboto;
$fuente_texto: "Open Sans", Arial, Helvetica, sans-serif;

//urls
$url_0: url( "/media/images/exterior.original.png" );

//@extend-elements
//original selectors
//.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
%extend_1 {
  font-family: $font_0;
  color: $color1;
}

h4 a {color: $color5;}
.titulo-ponente,.horario h3 {color: white;}
html {
  font-family: $font_0;
}
body {
  font-family: $font_0;
}
.h1 {
  @extend %extend_1;
}
.h2 {
  @extend %extend_1;
}
.h3 {
  @extend %extend_1;
}
.h4 {
  @extend %extend_1;
}
.h5 {
  @extend %extend_1;
}
.h6 {
  @extend %extend_1;
}
h1 {
  @extend %extend_1;
  text-align: center;
  padding-bottom: 20px;
}
h2 {
  @extend %extend_1;
}
h3 {
  @extend %extend_1;
}
h4 {
  @extend %extend_1;
}
h5 {
  @extend %extend_1;
}
h6 {
  @extend %extend_1;
}
a {
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: 295ms all ease;
  &:hover {
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: 295ms all ease;
  }
}
#header {
  min-height: 140px;
  background-color: #fff;
  border-bottom: solid 1px $color_celeste_approx;
  z-index: 999 !important;
  color: #000;
}
#menu {
  padding: 2px;
  .active {
      color: $menu_active;
  }
  .navbar-nav {
  margin-top: 50px;
  }
  .navbar-collapse {
  color: $link_menu;
    padding: 0;
    .caret {
      margin: -8px 0 0;
    }
    .active {
    color: green;
    }
    li {

      
    a {
      font-family: $font_0;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      background: none !important;
      font-stretch: normal;
      text-transform: uppercase;
      color: $link_menu;

    }

    
    /*
    li a {
        font-size: 14px;
        font-weight: normal;
        min-width: 260px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.44;
        padding: 13px 15px;
        
        :hover {
          color: $white;
          //background-color: $white !important;
        }
      }
      */    
    }
    li.active a {
    color: $menu_active;
    }

    li a:hover{
    color: $menu_active;
    }
    ul ul {
      z-index: 999;
    }
  }
  .container-fluid {
    padding: 0;
  }
  .navbar-nav {
    float: right;
    padding: 2px 0;
    li:hover ul {
      max-height: 1000px;
      //vendor-prefix found
      //-webkit-transform: perspective(400) rotate3d(0,0,0,0)
    }
  }
  .navbar {
    margin: 0 !important;
  }
}
.navbar-fixed-top {
  //background-color: $color1 !important;
}
#encabezado {
 
  h1 {
    font-family: $font_0;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 2.7px;
    color: white;
    text-align: center;
    padding-top: 120px;
  }
h2 {
    font-family: $font_0;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 2.7px;
    
  
   
   }
h2 span {
color: #FFFFFF;
    background-color: rgba(53, 99, 168, 0.5);
    border-radius: 5px;
    padding: 0 10px;
    
}
  h3 {
    font-family: $font_0;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    color: $color1;
    text-align: center;
  }
}

#footer {

  padding: 20px 0;
  color: $black;
  a {
    color: $black;
  }
  h4 {
    margin-top: 0;
  }
}
.horario {
  //vendor-prefix found
  //-webkit-box-shadow: 0 4px 0 rgba(0,0,0,0.2)
  //vendor-prefix found
  //-moz-box-shadow: 0 4px 0 rgba(0,0,0,0.2)
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 4px 0 $black_20;
  //vendor-prefix found
  //-webkit-border-radius: 8px
  //vendor-prefix found
  //-moz-border-radius: 8px
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 8px;
  background-color: $color_desert_storm_approx;
  margin-bottom: 30px;
  .titulo {
    text-align: center;
  }
  .contenido {
    padding: 10px;
  }
}




.pildora {
  //vendor-prefix found
  //-webkit-box-shadow: 0 4px 0 rgba(0,0,0,0.2)
  //vendor-prefix found
  //-moz-box-shadow: 0 4px 0 rgba(0,0,0,0.2)
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 4px 0 $black_20;
  //vendor-prefix found
  //-webkit-border-radius: 8px
  //vendor-prefix found
  //-moz-border-radius: 8px
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 8px;
  background-color: $color_desert_storm_approx;
  margin-bottom: 30px;
  .titulo {
    text-align: center;
    background-color: $color4;
  }
  .contenido {
    padding: 10px;
  }
}


.titulo {
  color: $white;
  background-color: $color1;
}
.titulo-ponente {
  color: $white;
  background-color: $color2;
}
.titulo-mesa {
  color: $white;
  background-color: $color4;
}
.taller {
  .titulo {
    min-height: 120px;
    padding: 1px 0;
  }
  i {
    color: $color4;
    font-size: 42px;
  }
}
.fa1 {
  color: $color2;
}
.fa2 {
  color: $color1;
}
.fa3 {
  color: $color2;
}
.comunicaciones {
  font-size: 18px;
  .fa-podcast {
    font-size: 8em;
    color: $color2;
  }
  h3 {
  text-align: center;
  }
}
.btn-info {
  background-color: $color2;
}
.modal-title {
  color: $color1;
  text-align: center;
}
header {
  padding-bottom: 12px;
}
button.navbar-toggle {
  color: $white;
  z-index: 99 !important;
}
.contacto .fa {
  font-size: 8em;
  color: $color2;
}
.objetivos .fa {
  font-size: 6em;
  color: $color2;
}
.navbar-toggle .icon-bar {
  border: 1px solid $white;
  display: block;
  width: 22px;
  height: 2px;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 1px;
}

.tarjeta {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    
    .titulo {
    border-radius: 5px 5px 0 0;
    padding: 1px 5px;
    text-align: center;

}
    h3 {
    margin: 5px;
    }
}

.tarjeta:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }


.pildorilla {
  background-color: $color_desert_storm_approx;
  margin-bottom: 30px;
  
  .contenido {
    padding: 10px;
  }
}


.homepage {
  background-color: $amarillo;
}

.presentacion {
   font-size: 24px;
   text-align: justify;
   line-height: 1.54;
   font-family: "Open Sans", Arial, Helvetica, sans-serif;
   font-weight: 400;
   letter-spacing: 0px;
   padding: 40px 40px;
}

.saludo {
  background-color: $fondosaludo;
  font-size: 18px;
  text-align: justify;
  font-family: $fuente_texto;
  padding: 20px 40px; 
}

.colaboradores {
  border-top:  1px solid $color4;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 20px;
  p {
    padding-top: 10px ;
    font-weight: bold;
  }
}

.btn-info {
  color: #fff;
  background-color: $color5;
  border-color: $color4;
  &:hover, &:focus, &:active {
  color: $gris;
  background-color: $color4 !important;
  border-color: $gris !important;
  }
}

.btn-primary {
  color: #fff;
  background-color: $color1;
  border-color: $color1;
  &:hover, &:focus, &:active {
  color: $gris;
  background-color: $color1 !important;
  border-color: $color5 !important;
  }
}


#footer{
  background-color: $color4;
}

a {
  color: $color1;
}

.carousel {
    margin-bottom: 14px;
    .carousel-caption {
      top: 15%;
      h3, a, p {
      font-family: "Open Sans";
      }
      h3 {    
        color: white;
        font-size: 28px;
        text-transform: uppercase;
        //background-color: transparentize($color1, 0.4);
        padding-top: 0;

      }
      h3.principal {    
        font-size: 37px;
        
        //background-color: transparentize($color1, 0.4);
        padding-top: 0;
      }
        .btn {
            margin-top: 20px;
            margin-bottom: 10px;
            padding: 10px 30px;
            border-radius: 0px;
            background-color: white;
            color: $color1;
        }
      p{

      font-size: 18px;
      padding-top: 20px;
      font-weight: lighter;
      }
      a {
        text-transform: uppercase;

      }
    }
}