env
db.*
.sw[po]
*.py[co]
.project
.pydevproject
*.db
*.sql
*.orig
*.DS_Store
.coverage
.vagrant
*.log
local.py
secrets.py
deploy/authorized_keys
public/
build
tmp
*.sock
*.pid
old
CACHE
innovacioneducativa/static
local.py
innovacioneducativa/fabfile.py
