{% load  wagtailuserbar menu_tags static wagtailimages_tags compress  wagtailcore_tags %}

<div class="container-fluid colaboradores">
<div class="col-xs-12 col-md-10 col-md-offset-1">
<p>Colaboran:</p>

<p >
<a href="http://ieducando.com" target="_blank" rel="noopener noreferrer"><img src="{%static "images/logo-ieducando-2.jpg" class="img " %}" alt="ieducando" /></a>&nbsp;&nbsp;&nbsp;&nbsp; 
<a href="http://www.grao.com/" target="_blank" rel="noopener noreferrer"><img src="{%static "images/logo-grao-1.jpg" %}" alt="Publicaciones, Libros, Revistas de Pedagogía" /></a>&nbsp;&nbsp;&nbsp;&nbsp; 
<a href="https://www.microsoft.com/es-es" target="_blank" rel="noopener noreferrer"><img src="{%static "images/logo-microsoft-1.jpg" %}" alt="Microsoft" /></a>&nbsp;&nbsp;&nbsp;&nbsp; 
<a href="https://www.bq.com/es/" target="_blank" rel="noopener noreferrer"><img src="{%static "images/logo-bq-1.jpg" %}"  alt="bq españa" /></a></p>
<p>Patrocinan:</p>
<p><a href="http://www.camarazaragoza.com/" target="_blank" rel="noopener noreferrer">
<img src="{%static "images/logo-camara-1.jpg" %}" alt="Camara de Comercio de Zaragoza" /></a>&nbsp;&nbsp;&nbsp;&nbsp; 

<a href="https://www.fundaciontelefonica.com/" target="_blank" rel="noopener noreferrer"><img src="{%static "images/logo-telefonica-1.jpg" %}"alt="Fundación Telefónica" /></a>&nbsp;&nbsp;&nbsp;&nbsp; 
<a href="http://www.samsung.com/es/" target="_blank" rel="noopener noreferrer"><img src="{%static "images/logo-samsung-1.jpg"  %}" alt="SAMSUNG" /></a> &nbsp;&nbsp;&nbsp;&nbsp; 
<a href="https://www.educaixa.com/" target="_blank" rel="noopener noreferrer"><img src="{%static "images/logo-educaixa-1.jpg"  %}" alt="Educaixa - Obra Social" /></a>
&nbsp;&nbsp;&nbsp;&nbsp; 
<a href="http://www.santillana.es/" target="_blank" rel="noopener noreferrer"><img src="{%static "images/logo-santillana-1.jpg"  %}" alt="Santillana - Libros de texto" /></a>
&nbsp;&nbsp;&nbsp;&nbsp;      <a href="https://obrasocial.ibercaja.es/" target="_blank" rel="noopener noreferrer"><img src="{%static "images/logo-ibercaja-1.jpg"  %}" alt="Ibercaja - Obra Social" /></a>
<a href="http://aragon.es">
<img src="{%static "images/logo-aragon.jpg" %}" alt="" title="Gobierno de Aragón"
class="pull-right"></a>
</p>
</div></div>


