{% load  wagtailuserbar menu_tags static wagtailimages_tags compress  wagtailcore_tags %}
<footer>
{% include "includes/colaboradores.html" %}
    <div id="footer">
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-xs-12">
            {% comment %}
<a href="http://www.educaixa.com"><img class="img img-responsive" src="/static/images/educaixa.png" alt="educaixa"></a>                          
{% endcomment %}
            </div>
            <div class="col-md-4 col-xs-6">
            <p>Polícita de privacidad</p>
            <p>Créditos</p>
            <p>Código de conducta</p>
            <p><a href="{{ BASE_URL_PATH }}/contacto">Contacto</a></p>
            </div>
            <div class="col-md-4 col-xs-6 social">
                 <h4>Participa</h4>
                 <p><a href="https://twitter.com/innoeducacion" title="Twitter">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                </p>
                <p>
                 <a href="https://www.facebook.com/innoeducacion/" title="Facebook">
                            <i class="fa fa-facebook"></i> Facebook
                        </a></p>
            {% comment %}    
                <p><a href="{{ BASE_URL_PATH }}/ponentes#pregunta"><i class="fa fa-question-circle" aria-hidden="true"></i>
 Haz una pregunta a la mesa redonda</a></p>
 <p><a href="{{ BASE_URL_PATH }}/preguntas-la-mesa-redonda"><i class="fa fa-list-alt" aria-hidden="true"></i> Preguntas seleccionadas</a></p>
        {% endcomment %}
            </div>
            <div class="col-md-2 col-xs-12">
            {% comment %}
                <a href="http://www.educaragon.org"><img class="img img-responsive"  src="{% static "images/educaragon.png" %}" data-rjs="2"></a>
            {% endcomment %}
            </div>
        </div>
        </div>
    </div>
</footer>
