appdirs==1.4.2
beautifulsoup4==4.5.3
Django==1.10.5
django-appconf==1.0.2
django-bower==5.2.0
django-compressor==2.1.1
django-libsass==0.7
django-modelcluster==3.0.1
django-taggit==0.22.0
django-treebeard==4.1.0
djangorestframework==3.5.4
html5lib==0.999999999
libsass==0.12.3
olefile==0.44
packaging==16.8
Pillow==4.0.0
pkg-resources==0.0.0
pyparsing==2.1.10
pytz==2016.10
rcssmin==1.0.6
requests==2.13.0
rjsmin==1.0.12
six==1.10.0
Unidecode==0.4.20
wagtail==1.9
wagtailfontawesome==1.0.6
wagtailmenus==2.2.0
webencodings==0.5
Willow==0.4
