{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}
{% block body_class %}template-homepage{% endblock %}

{% block body %}
{% image page.imagen_principal original as fondo %}

<div id="encabezado" style="height:400px; background-position: bottom; background-image: url({{ fondo.url }});">
    <div class="container">
        <h1> {{page.titulo}}</h1>
        <br> 
        <h3> {{page.subtitulo}}</h3>
    </div>
</div>
    <section>
    <div id="sec1">
        <div class="container">
            <div class="col-xs-12 nopd sec1">
                {{ page.presentacion }}
            </div>
        </div>
    </div>
</section>
	<section>
    <div id="sec2">
        <div class="container">
            <h1>Objetivos</h1>
                {{ page.objetivos }}
        </div>
    </div>
</section>
<section>
    <div id="sec3">
    <div class="row">
            <div class="col-md-offset-4 col-md-4 col-sm-12 text-center col-xs-12 bgcx">
            
                <h2 class="col-xs-12">Saludo de la consejera</h2>
                {% image page.imagen_consejera width-200 as consejera%}          
				<img src="{{ consejera.url }}" alt="Imagen Consejera" class="img img-circle">
                {{ page.saludo_consejera }}
            </div>
            </div>
    </div>
</section>
{% endblock %}
