{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}
{% block body_class %}homepage{% endblock %}

 {% block header%}



<div id="encabezado">
  <img class="img img-responsive" src="{%static "images/imagen_inicio.jpg"%}"
        alt="imagen inicio">

{% comment %}
        <h1 class="titulo">{{ page.titulo }}</span></h1>
        <h2 class="lemacongreso"><span>{{ page.lema }}</span></h2>
        <h3 class="fechacongreso">{{page.subtitulo}}</h3>
{% endcomment %}
    
</div>
 {% endblock %}

{% block body %}
        <div class="container-fluid">
        <div class="row"> 
            <br>
            <br>
            <div class="col-xs-12 col-md-8 col-md-offset-2 presentacion">
                {{ page.presentacion }}
            </div>
            
        </div>
            <div class="row saludo">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
            <h2 class="col-xs-12 text-center">{{page.titulo_consejera}}</h2>
                <div class="row">
                
                 <img  src="{%static "images/foto-consejera-1.jpg"%}" width="20%" alt="Imagen Consejera" class="img img-responsive img-circle center-block">
                
                 </div>
                <div class="saludo">{{ page.saludo_consejera }}</div>
            </div>
            </div>

</div>
  

{% endblock %}
