{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block body_class %}template-ponentes{% endblock %}

{% block body %}
    <section>
        <div class="container">
                <h1>{{ page.title }}</h1>
<p><a href="/inscripciones/exportar">Descargar los datos en formato csv</a></p>
                <div class="tabla">
                 {% render_table inscritos %}
                 
                </div>
                
</section>

{% endblock %}
