{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block extra_head %}

<style>
.contenido {
    font-size: 18px;
}
.presentacion {
    padding-top: 40px;

}

</style>
{% endblock %}


{% block body_class %}template-homepage{% endblock %}

{% block body %}
    
    <div class="container contenido">
    
    <div class="row presentacion">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="horario">
            
            <div class="contenido">
            {{page.presentacion | richtext}}            
            </div>
        </div>
    </div>
    </div>

    <div class="col-xs-12 col-md-8 col-md-offset-2 objetivos">
        <i class="fa fa-dot-circle-o text-center center-block"></i>
        <div class="horario">
        
            <div class="titulo">
            <h2>Objetivos</h2>
            </div>
            <div class="contenido">
            {{page.objetivos | richtext}}            
            </div>
        </div>
    </div>
    </div>


    
{% endblock %}
