{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static crispy_forms_tags %}

{% block body_class %}template-ponentes{% endblock %}

{% block body %}
    <section>
        <div class="container">
                <h1>{{ page.title }}</h1>

                <div class="row">
                {% for ponente in page.ponentes.all %}
                <div class  ="col-md-4 col-xs-12">
                <div class="horario">
                    <div class="titulo-ponente"><br>
                    {% image ponente.imagen width-80 class="img img-circle center-block" %}
                    <h3 class="text-center">{{ ponente.nombre }}</h3>
                    </div>
                    <div class="contenido">
                        <strong>{{ ponente.biografia | richtext }}</strong>
                        {{ ponente.descripcion| richtext }}
                        <p> <a href="{{ ponente.mas_info}}">Más información</a></p>
                    </div>
                    </div>
                </div>
                {% if forloop.counter == 3 %}
                </div><div class="row">
                {% endif %}
                
                {% endfor %}
                </div>
            </div>
</section>

<section>
<div class="container">
            <h1 >Dinamizador de la mesa redonda</h1>
            <div class="row">
            {% with mesa=page.coordinador.first %}
            <div class="col-md-4 col-md-offset-4 col-xs-12">
            <div class="panel panel-default horario">
            <div class="titulo-mesa"><br>
                {% image mesa.imagen width-80 class="img img-circle center-block" %}
            
                    <h3 class="text-center">{{ mesa.nombre }}</h3>
                </div>
                <div class="contenido panel-body">
                <strong>{{ mesa.biografia | richtext }}</strong>
                    {{ mesa.descripcion| richtext }}
                    <p> <a href="{{ mesa.mas_info}}">Más información</a></p>
                    </div>
                </div>
            </div>
            {% endwith %}
             <div class="col-md-6 col-md-offset-3 col-xs-12">
 <h3 class="text-center" id="pregunta">¿Quieres sugerir una pregunta a la mesa redonda?</h3>
{% crispy form %}
  
             </div>
            </div>

            {% if request.user and request.user.is_staff %}
            
            {% endif %}
        </div>
</section>

{% endblock %}
