{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}
{% block body_class %}template-ponentes{% endblock %}

{% block body %}
    <section>
    <div class="talleres">
        <div class="container">
            
                <h1>{{ page.title }}</h1>
                <div class="row">
                {% for taller in page.talleres.all %}

                <div class="col-md-4 col-xs-12 taller">
                <div class="horario taller">
                <div class="titulo">
                {%if taller.nombre_rico %}
                <h3>{{taller.nombre_rico | richtext }}
                {% else %}
                    <h3>{{ taller.nombre }} </h3>
                {% endif %}
                    </div>
                    <div class="contenido">
                    <strong>{{ taller.coordinador | richtext }}</strong>
                    {{ taller.descripcion | richtext}}
                    <i class="pull-right fa fa-{{taller.imagen}}"></i>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#taller-{{forloop.counter}}">Más información</button>
                    </div>
                </div>
                </div>

                <!-- Modal -->
<div id="taller-{{forloop.counter}}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{taller.nombre}}</h4>
      </div>
      <div class="modal-body">
        {{ taller.mas_info | richtext }} 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>
{% cycle '' '' '</div><div class="row">' %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}


