{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}
{% block body_class %}template-ponentes{% endblock %}

{% block body %}
    <section>
    <div id="sec2">
        <div class="container">
            <div class="col-xs-12 nopd">
                <h1>{{ page.title }}</h1>
                <div class="row">
                {% for taller in page.talleres.all %}
                <div class="col-md-4 col-xs-12">
                <div class="thumbnail" style="padding: 5;">
                {% image taller.imagen width-200 class="img img-responsive img-circle center-block" %}
                    <p><strong>{{ taller.nombre }}</strong></p>

                    {{ taller.coordinador | richtext }}
                    {{ taller.descripcion | richtext}}
                    <p> <a href="#">Más información</a></p>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}


