{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}
{% block body_class %}template-ponentes{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static "css/card.css" %}" type="text/css">

{% endblock %}
{% block body %}
    <section>
    <div class="talleres">
        <div class="container">
            <div class="col-xs-12">
                <h1>{{ page.title }}</h1>
                <div class="row">
                {% for taller in page.talleres.all %}
                <div class="car-container col-md-4 col-xs-12 taller">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            
                        </div>
                        <div class="user">
                            <i class="pull-right fa fa-{{taller.imagen}}"></i>
                        </div>
                        <div class="content">
                            <div class="main">
                            <h3> {{ taller.nombre }} </h3>
                            <strong>{{ taller.coordinador | richtext }}</strong>
                            {{ taller.descripcion | richtext}}
                            </div>
                            <div class="footer">
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#taller-{{forloop.counter}}">Más información</button>
                                <i class="fa fa-mail-forward"></i> Auto Rotation
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>

                                <div class="stats-container">
                                    <div class="stats">
                                        <h4>235</h4>
                                        <p>
                                            Followers
                                        </p>
                                    </div>
                                    <div class="stats">
                                        <h4>114</h4>
                                        <p>
                                            Following
                                        </p>
                                    </div>
                                    <div class="stats">
                                        <h4>35</h4>
                                        <p>
                                            Projects
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="footer">
                            <div class="social-links text-center">
                                <a href="http://deepak646.blogspot.in/" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                <a href="http://deepak646.blogspot.in/" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                <a href="http://deepak646.blogspot.in/" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                            </div>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
                    
                    
                <!-- Modal -->
<div id="taller-{{forloop.counter}}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{taller.nombre}}</h4>
      </div>
      <div class="modal-body">
        {{ taller.mas_info | richtext }} 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}


