{% spaceless %}
{% load  wagtailuserbar menu_tags static wagtailimages_tags compress  wagtailcore_tags %}



{% endspaceless %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700|Nunito|Open+Sans:300,400" rel="stylesheet">
    
     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

     {% compress css %}
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "scss/innovacioneducativa.scss" %}" type="text/x-sass">

    <!-- <link href="{% static "css/innovacioneducativa.css" %}" rel="stylesheet"> -->
     <!-- <link href="{% static "css/animate.css" %}" rel="stylesheet"> -->
    {% endcompress %}

    <link rel="icon" type="image/png" href="{% static "favicon/favicon-32x32.png" %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static "favicon/favicon-194x194.png" %}" sizes="194x194 %}">
    <link rel="icon" type="image/png" href="{% static "favicon/favicon-96x96.png" %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static "favicon/android-chrome-192x192.png" %}" sizes="192x192">
    <link rel="icon" type="image/png" href="{% static "favicon/favicon-16x16.png" %}"   sizes="16x16">
    <link rel="manifest" href="{% static "favicon/manifest.json" %}">
    <link rel="shortcut icon" href="{% static "favicon/favicon.ico" %}">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-TileImage" content="{% static "favicon/mstile-144x144.png" %}">
    <meta name="msapplication-config" content="{% static "favicon/browserconfig.xml" %}">
    <meta name="theme-color" content="#ffffff">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block extra_head %}{% endblock %}
    
</head>
<body class="{% block body_class %}{% endblock %}">
{% wagtailuserbar "bottom-left" %}
<header>
    <div id="header">
        <div class="container">
            <div class="col-xs-12" id="menu">
                <nav class="navbar-fixed navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            {% main_menu %}
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
{% block header%}
{% endblock %}
</header>
{% block body %}

{% endblock %}
<footer>
    <div id="footer">
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-xs-12">
                 <a href="http://www.educaixa.com"><img class="img img-responsive" src="{% static "images/educaixa.png" %}" alt="educaixa"></a>

            </div>
            <div class="col-md-4 col-xs-12">
            <p>Polícita de privacidad</p>
            <p>Créditos</p>
            <p>Código de conducta</p>
            <p><a href="/congreso/contacto">Contacto</a></p>
            </div>
            <div class="col-md-4 col-xs-12 social">
                 <h4>Nuestras redes sociales</h4>
                 <p><a href="https://twitter.com/InnovaEducAr" title="Twitter">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                </p>
                <p>
                 <a href="https://www.facebook.com/InnovaEducAr/" title="Facebook">
                            <i class="fa fa-facebook"></i> Facebook
                        </a>
            </div>
            <div class="col-md-2 col-xs-12">
                <a href="http://www.educaragon.org"><img class="img img-responsive"  src="{% static "images/educaragon.png" %}" data-rjs="2"></a>
            </div>
        </div>
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
{% block extra_script %}{% endblock %}
</body>
</html>