{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}
{% block body_class %}template-contacto{% endblock %}

{% block extra_head %}
<style>
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
</style>
{% endblock %}
{% block body %}
    <section>
        <div class="container contacto">

	<h1>{{ page.title }}</h1>
	<div class="row">
	<div class="col-xs-12 col-md-2"><i class="fa fa-address-card-o  center-block"></i></div>

	<div class="col-xs-12 col-md-6">
	{{page.body|richtext}}
	<br>
	
	<div class="map-responsive">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2107.452898955106!2d-0.9065743361250094!3d41.66895297365057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x984e0960f885f026!2sPalacio+de+Congresos+de+Zaragoza!5e0!3m2!1ses!2ses!4v1493962419393" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
	</div>
	</div>
</section>

{% endblock %}
